{% extends "@Cabinetabinet/layout.html.twig" %}

    {% block baw %}


        <br>
        <br>
        <br>
        <br>
<!--Start Content-->
<div class="content">
    <!--Start Appointment-->
    <div class="make-appointment-two">
        <div class="container">
            <div class="row">

                <div class="col-md-5">
                    <img src="images/appointment-img.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--End Appointment-->



    <!--Start Services-->
    <div class="services-five dark-back">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="service-sec">
                        <div class="icon">
                            <i class="icon-ambulanc"></i>
                        </div>
                        <h6>Emergency Services</h6>
                        <p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit eros  adipiscing nonummy.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service-sec">
                        <div class="icon">
                            <i class="icon-patientbed"></i>
                        </div>
                        <h6>Patient Services</h6>
                        <p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit eros  adipiscing nonummy.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="service-sec">
                        <div class="icon">
                            <i class="icon-doctor"></i>
                        </div>
                        <h6>Qualified Doctors</h6>
                        <p>If you need a doctor for to consectetuer Lorem ipsum dolor, consectetur adipiscing elit eros  adipiscing nonummy.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--End Services-->



    <!--Start Specialists-->
    <div class="meet-specialists">
        <div class="container">

        </div>
    </div>
    <!--End Specialists-->


    <!--Start Doctor Quote-->
    <div class="dr-quote">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="quote">"Meeting the challenges of an ever-changing healthcare environment."</span>
                    <span class="name">- Dr. Jonathan Gobi</span>
                </div>
            </div>
        </div>
    </div>
    <!--End Doctor Quote-->

</div>
<!--End Content-->

    {% endblock baw %}